/* Style for main element */
body{
	font-family: Georgia, serif;
	font-size: 13px;
	background-color:#FDF5E6;
	/*background-image: url(); изображение фона, для вставки эмблемм, логотипов и очего*/
	background-size: 180px;
	background-position: bottom 20px right 20px;
	background-repeat: no-repeat;
	color: #252525;
}

li{
	list-style: none;
}

main{
	margin: 0 auto;
 	width: 70%;
}

/*Разметка заголовка программы*/
.main_header h1{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}

.main_header_dif{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.main_header_explon{
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
/*Стили навигационного меню программы*/

.main_header nav{
	text-align: center;
}

.main_header nav li{
	margin: 10px;
	display: inline-block;
}

.main_header  nav a{
	text-decoration: none;
	color: #252525;
	font-weight: bold;
}

.main_header  nav a:hover{
	text-decoration: underline;
	color: #708090;
}

.main_header  nav a:active{
	text-decoration: underline;
	color: #F4A460;
}
/*Стили для этапов программы*/
.program{
	margin-right: 20px;
}

.program_header{
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 5px;
}

.program_data{
	float: left;
}

.program_text, .program_list_day{
	font-weight: bold;
	line-height: 20px;
}

.program_list_day ul li{
	font-weight: normal;
	line-height: 16px;
	text-align: justify;
	margin-left: 10px;
	word-wrap: break-word;
}

.program_image_block{
	margin-top: 25px;
	width: 150px;
	float: right;
}

.program_image{
	cursor: pointer;
	display: block;
	height: 100px;
	margin-bottom: 20px;
	border: 5px solid #F4A460;
	border-radius: 15%;
	transition-property: height, transform;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.exp_img_1{
	bottom: 174px;
}

.exp_img_2{
	bottom: 328px;
}

.program_image:active{
	height: 150px;
	transform: translateX(-70px);
}
/*Стили для секций описания программы*/
.text_section_head, .multi_section_head{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.section_content, .section_explon{
	margin-right: 20px;
	margin-bottom: 20px;
	word-wrap: break-word;
	text-align: justify;
}

.section_explon{
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
}

/*Стили для изображений внутри секции описания*/
.multi_section_image{
	margin-right: 20px;
	margin-top: 5px;
	width: 200px;
	border: 5px solid #F4A460;
	border-radius: 15%;
	float: left;
	transition-property: width, position;
	transition-duration: .15s;
	cursor: pointer;
}

.multi_section_image:active{
	width: 300px;
	position: relative;
}
/*Стили блока стоимости*/
.cost{
	margin-bottom: 20px;
	margin-top: 65px;
}

.cost_head{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

/*Стили блока контактов и футера*/
.footer_contacts_head{
	font-size: 20px;
	font-weight: bold;
}

footer address {
	margin-top: 5px;
	margin-bottom: 20px;
}

.contact_list a{
	text-decoration: none;
	color: #252525;
	font-weight: bold;
}

footer address a:hover{
	text-decoration: underline;
	color: #708090;
}

footer address a:active{
	text-decoration: underline;
	color: #F4A460;
}
