/* Style for main element */
body{
	font-family: Georgia, serif;
	font-size: 12px;
	background-color:#FDF5E6;
	/*background-image: url(); изображение фона, для вставки эмблемм, логотипов и очего*/
	background-size: 180px;
	background-position: bottom 20px right 20px;
	background-repeat: no-repeat;
	color: #252525;
}
/*Разметка заголовка программы*/
.main_header h1{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}

.main_header_dif{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.main_header_explon{
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-left: 20px;
	margin-bottom: 10px;
}
/*Стили навигационного меню программы*/
.main_header nav ul{
	margin: 20px;
}

.main_header  nav a{
	text-decoration: none;
	color: #252525;
	font-weight: bold;
}

.main_header  nav a:hover{
	text-decoration: underline;
	color: #708090;
}

.main_header  nav a:active{
	text-decoration: underline;
	color: #F4A460;
}
/*Стили для этапов программы*/
.program{
	position: relative;
	margin-left: 20px;
}

.program_header{
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 5px;
}

.program_text{
	font-weight: bold;
}

.programm_image{
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 200px;
	border: 4px solid #F4A460;
	border-radius: 15%;
}

.programm_image:active{
	width: 400px;
}
/*Стили для секций описания программы*/
.text_section_head, .multi_section_head{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.section_content, .section_explon{
	margin-left: 20px;
	margin-right: 20px;
	word-wrap: break-word;
	text-align: justify;
}

.section_explon{
	font-size: 16px;
	font-weight: bold;
}

/*Стили для изображений внутри секции описания*/
.multi_section_image{
	margin-left: 20px;
	margin-right: 20px;
	width: 200px;
	border: 4px solid #F4A460;
	border-radius: 15%;
	float: left;
}

.multi_section_image:active{
	width: 400px;
}
/*Стили блока стоимости*/
.cost{
	margin: 20px;
}

.cost_head{
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 5px;
}

/*Стили блока контактов и футера*/
.footer_contacts_head{
	margin-left: 20px;
	font-size: 19px;
	font-weight: bold;
}

footer address {
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.contact_list a{
	text-decoration: none;
	color: #252525;
	font-weight: bold;
}

footer address a:hover{
	text-decoration: underline;
	color: #708090;
}

footer address a:active{
	text-decoration: underline;
	color: #F4A460;
}
